@mixin transition($type, $amount) {
    transition: $type $amount cubic-bezier(0.4, 0.6, 0.6, 1);
    -webkit-transition: $type $amount cubic-bezier(0.4, 0.6, 0.6, 1);
    -moz-transition: $type $amount cubic-bezier(0.4, 0.6, 0.6, 1);
    -ms-transition: $type $amount cubic-bezier(0.4, 0.6, 0.6, 1);
    -o-transition: $type $amount cubic-bezier(0.4, 0.6, 0.6, 1);
}

@mixin radius($amount) {
    border-radius: $amount;
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    -ms-border-radius: $amount;
    -o-border-radius: $amount;
}

@mixin responsive($type, $breakpoint) {
    @if $type == 1 {
        @media only screen and (max-width: $breakpoint * 1px) {
            @content;
        }
    }

    @if $type == 0 {
        @media only screen and (min-width: $breakpoint * 1px) {
            @content;
        }
    }
}
