@import "abstracts/variables";
@import "abstracts/mixins";

.headings {
    font-weight: 800;
    font-size: 6.2rem;
    line-height: 7rem;

    &_red {
        color: $primary-color;
    }

    @include responsive(1, 900) {
        font-size: 6.5vw;
    }
    @include responsive(1, 600) {
        font-size: 13vw;
        line-height: 12vw;
    }
}
