@import "abstracts/variables";
@import "abstracts/mixins";

.navigation {
    width: 100%;
    position: fixed;
    z-index: $z-fixed;
    background-color: $body-color;
    top: 0;
    left: 0;
    &__logo {
        cursor: pointer;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 10rem);
        margin: 0 auto;
        height: 10.7rem;
    }

    &__menu {
        display: flex;
        align-items: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 6rem;
        }
    }

    &__link {
        font-size: 1.35rem;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            height: 0.1rem;
            bottom: -0.4rem;
            background-color: $black-color;
            @include transition(width, 0.3s);
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__btn {
        padding: 1.6rem 2.2rem;
        background-color: #3a2837;
        font-size: 1.4rem;
        color: $body-color;
        @include radius(3rem);
        @include transition(transform, 0.3s);

        &:hover {
            transform: scale3d(1.03, 1.03, 1.03);
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            -moz-transform: scale3d(1.03, 1.03, 1.03);
            -ms-transform: scale3d(1.03, 1.03, 1.03);
            -o-transform: scale3d(1.03, 1.03, 1.03);
        }
    }

    &__active {
        font-weight: 700;
    }
}
