*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;

    @include responsive(1, 319) {
        font-size: 50%;
    }
}

body {
    background-color: $body-color;
    font-family: $font-family;
    font-weight: $fw-normal;
    color: $text-color;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;

    &:active {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $body-color;
    @include radius(1rem);
}

::-webkit-scrollbar-thumb {
    background-color: rgba($text-color, 0.7);
    opacity: 0.1;
    @include radius(1rem);
}

html.sr .load-hidden {
    visibility: hidden;
}
.swiper {
    width: 70rem !important;
    height: 70rem !important;
    max-width: 70rem !important;
    max-height: 70rem !important;
    margin-top: 2rem;
}

.swiper .swiper-pagination {
    bottom: 2rem !important;
}
.swiper-horizontal > .swiper-pagination-bullets {
    bottom: -1rem !important;
    z-index: 100 !important;
    height: 30px !important;
}
.swiper-pagination-bullet-active {
    background-color: #d5333e !important;
}
.swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-wrapper {
    display: inline-flex !important;
}
.swiper .swiper-pagination,
.swiper-slide img {
    transform: translateX(5.5%) !important;
    -webkit-transform: translateX(5.5%) !important;
    -moz-transform: translateX(5.5%) !important;
    -ms-transform: translateX(5.5%) !important;
    -o-transform: translateX(5.5%) !important;
}

@include responsive(1, 1300) {
    .swiper .swiper-pagination,
    .swiper-slide img {
        transform: translateX(1%) !important;
        -webkit-transform: translateX(1%) !important;
        -moz-transform: translateX(1%) !important;
        -ms-transform: translateX(1%) !important;
        -o-transform: translateX(1%) !important;
    }
}

@include responsive(1, 1100) {
    .swiper .swiper-pagination,
    .swiper-slide img {
        transform: translateX(-3rem) !important;
        -webkit-transform: translateX(-3rem) !important;
        -moz-transform: translateX(-3rem) !important;
        -ms-transform: translateX(-3rem) !important;
        -o-transform: translateX(-3rem) !important;
    }
}

@include responsive(1, 980) {
    .swiper .swiper-pagination,
    .swiper-slide img {
        transform: translateX(5rem) !important;
        -webkit-transform: translateX(5rem) !important;
        -moz-transform: translateX(5rem) !important;
        -ms-transform: translateX(5rem) !important;
        -o-transform: translateX(5rem) !important;
    }
    .swiper {
        width: 100% !important;
        height: 100% !important;
        margin-top: 0;
    }
}

@include responsive(1, 700) {
    .swiper .swiper-pagination,
    .swiper-slide img {
        transform: translateX(3rem) !important;
        -webkit-transform: translateX(3rem) !important;
        -moz-transform: translateX(3rem) !important;
        -ms-transform: translateX(3rem) !important;
        -o-transform: translateX(3rem) !important;
    }
}
