*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    font-family: $font-family;
    font-weight: $fw-normal;
    color: $text-color;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;

    &:active {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
}

button {
    cursor: pointer;
}
