@import "abstracts/variables";
@import "abstracts/mixins";

.footer {
    padding: 10rem 5rem 5rem;
    background-color: #fafafa;
    &__heading {
        color: $primary-color;
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 7.5rem;
    }

    &__trusts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 140rem;
        width: 90%;
        margin: 0 auto 8.5rem;
    }

    &__trust {
        padding: 2rem 2.5rem;
        &:not(:last-child) {
            border-right: 1px solid rgba($black-color, 0.1);
        }
    }

    &__title {
        font-size: 2.6rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
    }

    &__description {
        font-size: 1.3rem;
    }

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__icon {
        font-size: 2.8rem;
        margin: 0 1rem;
    }

    &__copy {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1.3rem;
    }

    @include responsive(1, 980) {
        &__trusts {
            width: 100%;

            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }

        &__trust {
            padding: 2rem 0rem;
            border-bottom: 1px solid rgba($black-color, 0.1);
            &:not(:last-child) {
                border-right: none;
            }
        }
    }
    @include responsive(1, 576) {
        padding: 5rem 2rem 3rem;
        &__trusts {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
