@use "base/animations";
@import "abstracts/variables";
@import "abstracts/mixins";

.slide {
    position: relative;
    overflow: hidden;
    margin-top: -3rem;
    width: 100%;
    &__circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50vw;
        height: 50vw;
        max-width: 580px;
        max-height: 580px;
        background-color: #6dc9c3;
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        animation: scaleUp 1s ease-out;
        -webkit-animation: scaleUp 1s ease-out;
        @include radius(50%);
    }

    &__swiper {
        animation: fadeIn 1s 1s ease-out forwards;
        -webkit-animation: fadeIn 1s 1s ease-out forwards;
        opacity: 0;
    }

    &__swiperslide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include responsive(1, 980) {
        &__swiper {
            width: 100vw;
            height: auto;
            max-width: 60rem;
            max-height: 60rem;
            margin: 0 auto;
        }
        &__circle {
            width: 80vw;
            height: 80vw;
            max-width: 50rem;
            max-height: 50rem;
        }
        &__image {
            object-fit: cover;
        }
    }
}
